# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ai/src/connect_four_ai/models/alphazero-checkpoint.pt

# Generated models
models/
robot/__pycache__/ai_player.cpython-312.pyc
robot/__pycache__/board_detector.cpython-312.pyc
robot/__pycache__/generate_test_images.cpython-312.pyc
*.pyc
